# This code will attempt to load and test the model

- Load the model
- Prepare sample data
- Test the model on sample data

In [12]:
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd

## Load the model

In [3]:
model = load_model('mpg_model.h5')

In [4]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 25)                200
_________________________________________________________________
dense_4 (Dense)              (None, 10)                260
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 11
=================================================================
Total params: 471
Trainable params: 471
Non-trainable params: 0
_________________________________________________________________

## Prepare sample data

In [5]:
X = np.zeros((1, 7))

In [8]:
X[0,0] = 8
X[0,1] = 400
X[0,2] = 80
X[0,3] = 2000
X[0,4] = 19
X[0,5] = 72
X[0,6] = 1
X

array([[8.0e+00, 4.0e+02, 8.0e+01, 2.0e+03, 1.9e+01, 7.2e+01, 1.0e+00]])

## Test the model on sample data

In [14]:
df = pd.read_csv('auto-mpg.csv', na_values=['NA', '?'])
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite

In [17]:
df2 = df.drop(['mpg', 'name'], axis=1)
df2.head(3)

array([[8.000e+00, 3.070e+02, 1.300e+02, 3.504e+03, 1.200e+01, 7.000e+01,
        1.000e+00]])

In [21]:
X = df2.values[:3]
prediction = model.predict(X)
print(f'Miles per galon:', prediction)

Miles per galon: [[14.309878]
 [13.326236]
 [14.155093]]